/*VARIABLES*/
/*RESET and BACKGROUND*/
* {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  overflow: initial !important;
}

body {
  overflow: hidden;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container-fluid {
  pointer-events: none;
  backdrop-filter: blur(0.75px);
}

.bgAnimation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background: #0f0e0e;
  filter: saturate(2);
}

.colorBox {
  z-index: 2;
  filter: brightness(1.1);
  transition: 2s ease;
  position: relative;
  margin: 1px;
  background: rgb(4, 0, 9);
}
.colorBox:hover {
  background: rgb(47, 0, 102);
  transition-duration: 0s;
}

.backgroundAmim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(106, 0, 228);
  filter: blur(60px);
  animation: animBack 6s linear infinite;
}

@keyframes animBack {
  0% {
    top: -60%;
  }
  100% {
    top: 120%;
  }
}
::-webkit-scrollbar {
  width: 10px;
  position: absolute;
}

::-webkit-scrollbar-track {
  background: #302C30;
}

::-webkit-scrollbar-thumb {
  background: #6a00e4;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(155, 0, 244);
}

/*HEADER*/
.header {
  font-family: "Source Code Pro", monospace;
  position: relative;
  pointer-events: all;
  border-bottom: solid 1px rgba(255, 255, 255, 0.882);
  width: 100%;
  margin-bottom: 2em;
  transition: 1s;
}
.header ul {
  font-weight: 400;
  font-size: 0.95em;
  list-style: none;
  overflow: hidden;
  margin-right: 3em;
}
.header ul li {
  position: relative;
  pointer-events: all;
}
.header li a {
  color: rgb(155, 0, 244);
  line-height: 2em;
  display: block;
  text-decoration: none;
  transition: 0.1s;
}
.header li a:hover {
  color: rgba(255, 255, 255, 0.889);
}

.theme-icons {
  color: rgba(255, 255, 255, 0.882);
}

.logo img {
  width: 2em;
  height: 1em;
  margin: 0em 0em 1em 0em;
}

.toggle {
  padding: 1em;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/*MENU*/
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/*Icono */
.header .menu-icon {
  cursor: pointer;
  display: flex;
  justify-content: end;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: rgba(255, 255, 255, 0.882);
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: rgba(255, 255, 255, 0.882);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/*BOTON*/
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

article {
  pointer-events: none;
  position: relative;
}
article .presentation h1 {
  color: rgb(155, 0, 244);
  width: 100%;
  letter-spacing: 0.3em;
  font-size: 5em;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 0.3em;
  border-bottom: solid 1px rgba(255, 255, 255, 0.882);
  border-top: solid 1px rgba(255, 255, 255, 0.882);
  margin-top: 0.3em;
  transition: 1s;
}
article .presentation p {
  font-family: "Source Code Pro", monospace;
  color: rgba(255, 255, 255, 0.882);
  font-size: 0.9em;
  font-weight: 400;
  text-align: center;
  padding: 2em;
  margin: auto;
}
article .presentation li {
  display: flex;
  font-family: "Source Code Pro", monospace;
  padding: 0.5em 1em 0.5em 1em;
  border: solid 1px rgba(255, 255, 255, 0.882);
  margin: 1em 1em 1em 0em;
  transition: 0.2s;
}
article .presentation li .social-icon {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.882);
  margin-right: 5px;
}
article .presentation li a {
  font-size: 0.7em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.882);
  text-decoration: none;
}
article .presentation li:hover {
  color: rgb(155, 0, 244);
  border-color: rgb(155, 0, 244);
  border: solid 2px;
  padding: 0.6em 1.6em 0.6em 1.6em;
}

.arrow {
  margin-top: 2.5em;
  margin-bottom: 2em;
  width: 100%;
  border-top: solid 1px rgba(255, 255, 255, 0.882);
  border-bottom: solid 1px rgba(255, 255, 255, 0.882);
  text-decoration: none;
}
.arrow i {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.882);
  text-align: center;
  padding: 1em;
  font-size: 1.5em;
  margin-top: 0.5em;
}

.type-h2 {
  width: 12em;
  margin: auto;
  border: solid 1px rgba(255, 255, 255, 0.882);
  padding: 0.5em;
  font-size: 0.9em;
  font-family: "Source Code Pro", monospace;
  background-color: rgba(121, 121, 121, 0.193);
}

#text-typewrite {
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.882);
  font-size: 0.7em;
}

.social_links {
  cursor: pointer;
  pointer-events: all;
}

.aboutme {
  margin: 2em;
  background-color: rgba(121, 121, 121, 0.193);
  border: solid 1px rgba(255, 255, 255, 0.882);
}
.aboutme h6 span:first-child {
  color: rgba(255, 255, 255, 0.882);
}
.aboutme h6 span:last-child {
  color: #6a00e4;
}
.aboutme h6 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3em;
  letter-spacing: 0.3em;
  padding: 0.3em;
  margin-bottom: -0.3em;
}
.aboutme .aboutme-text1, .aboutme .aboutme-text2 {
  color: rgba(255, 255, 255, 0.882);
  padding: 0.5em;
  margin: 1em;
  font-family: "Source Code Pro", monospace;
  font-size: 0.9em;
  text-align: left;
}
.aboutme .aboutme-text2 {
  font-weight: 600;
}
.aboutme .redirect1 {
  background-color: rgb(155, 0, 244);
}
.aboutme .explore {
  padding: 0.3em;
  color: rgba(255, 255, 255, 0.882);
  text-decoration: none;
  text-align: center;
  font-size: 0.9em;
  font-family: "Source Code Pro", monospace;
}
.aboutme .arrow-aboutme {
  color: rgba(255, 255, 255, 0.882);
  padding: 0em 0em 0.5em 0em;
  font-size: 0.9em;
  text-decoration: none;
  text-align: center;
}

footer {
  margin-top: 2em;
  border-top: solid 1.5px rgba(255, 255, 255, 0.882);
  border-bottom: solid 1.5px rgba(255, 255, 255, 0.882);
}
footer i {
  color: rgba(255, 255, 255, 0.882);
  font-size: 2em;
  margin: 1.5em;
}

/*responsive cuando llega el menu normal*/
@media (min-width: 48em) {
  /*HEADER*/
  .header {
    height: 4em;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  /*ARTICLE*/
  article .presentation h1 {
    font-size: 6.5em;
    padding: 0.3em;
    transition: 1s;
  }
  article .presentation p {
    font-size: 1.1em;
    width: 45em;
    margin: auto;
  }
  article .presentation li .social-icon {
    font-size: 1.1em;
    margin-right: 10px;
  }
  article .presentation li a {
    font-size: 1.1em;
  }
  .type-h2 {
    font-size: 1.5em;
  }
  .aboutme {
    margin: auto;
    width: 40em;
  }
  .aboutme h6 {
    font-size: 4em;
    padding: 0.2em;
  }
  .aboutme .aboutme-text1, .aboutme .aboutme-text2 {
    margin: 1em;
    font-family: "Source Code Pro", monospace;
    font-size: 1.1em;
  }
  .aboutme .explore {
    font-size: 1.1em;
  }
  .aboutme .arrow-aboutme {
    font-size: 1.1em;
  }
}

/*# sourceMappingURL=estilo.css.map */
