/*VARIABLES*/
$code-font:'Source Code Pro', monospace;
$arimo-font:'Bebas Neue', sans-serif;
$black:#302C30;
$white: rgba(203, 203, 203, 0.723);
$grey: rgb(153, 153, 153);

/*RESET and BACKGROUND*/
*{
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.cursor{
    position: fixed;
    left:10px;
    width: 30px;
    height: 30px;
    transform: translate(-50%,-50%);
    background-color: rgb(255, 255, 255);
    mix-blend-mode:difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.5s, height 0.5s;
}
.cursor2{
    position: fixed;
    left:10px;
    width: 40px;
    height: 40px;
    transform: translate(-50%,-50%);
    border:solid 1px rgb(255, 255, 255);
    border-radius: 50%;
    pointer-events: none;
    transition: 0.1s;
}
::-webkit-scrollbar { width: 0.5em;}
::-webkit-scrollbar-track {background: #ffffff;}
::-webkit-scrollbar-thumb {background: #666666;border-radius: 0.5em;}
::-webkit-scrollbar-thumb:hover {background: #dbdbdb;}

@import './Layout/header';
@import './Layout/articleone';
