/*VARIABLES*/
$code-font:'Source Code Pro', monospace;
$arimo-font:'Bebas Neue', sans-serif;
$black:#302C30;
$white: rgba(255, 255, 255, 0.882);
$grey: rgb(153, 153, 153);
$purple: #6a00e4;
$pink-purple:rgb(155, 0, 244);

/*RESET and BACKGROUND*/
*{
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.container{
    pointer-events: none;
    backdrop-filter: blur(0.75px);
}
.bgAnimation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    background:#0f0e0e;
    filter: saturate(2);
}
.colorBox{
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 1px;
    background:rgb(4, 0, 9);;
    &:hover{
        background: rgb(47, 0, 102);
        transition-duration:0s ;
    }
}
.backgroundAmim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(106, 0, 228);
    filter: blur(60px);
    animation: animBack 6s linear infinite;
}
@keyframes animBack{
    0%{
        top: -60%;
    }
    100%{
        top:120%;
    }
}
::-webkit-scrollbar { width: 0.5em;}
::-webkit-scrollbar-track {background: #ffffff;}
::-webkit-scrollbar-thumb {background: #666666;border-radius: 0.5em;}
::-webkit-scrollbar-thumb:hover {background: #dbdbdb;}

@import './Layout/header';
@import './Layout/articleone';
@import './Layout/responsive';