article{
    pointer-events: none;
    position: relative;
    .presentation{
       //display: none;
        h1{
            color: rgb(155, 0, 244);
            width: 100%;
            letter-spacing: 0.3em;
            font-size: 5em;
            font-family: $arimo-font;
            font-weight: 400;
            text-align: center;
            padding: 0.3em;
            border-bottom: solid 1px $white;
            border-top: solid 1px $white;
            margin-top: 0.3em;
            transition: 1s;
        }
        p{
            font-family: $code-font;
            color:$white;
            font-size: 0.9em;
            font-weight: 400;
            text-align: center;
            padding: 2em;
            margin: auto;
        }
        li{
            display: flex;
            font-family: $code-font;
            padding: 0.5em 1em 0.5em 1em;
            border:solid 1px $white;
            margin:1em 1em 1em 0em;
            transition: 0.2s;
            .social-icon{
                font-size: 0.7em;
                color: $white;
                margin-right: 5px;
            }
            a{
                font-size: 0.7em;
                font-weight: 400;
                color: $white;
                text-decoration: none;
             }
             &:hover{
                color:$pink-purple;
                border-color: $pink-purple;
                border: solid 2px;
                padding: 0.6em 1.6em 0.6em 1.6em;
            }
        }
        
}
}
.arrow{
    margin-top: 2.5em;
    margin-bottom: 2em;
    width: 100%;
    border-top: solid 1px $white;
    border-bottom: solid 1px $white;
    text-decoration: none;
    i{
        text-decoration: none;
        color: $white;
        text-align: center;
        padding: 1em;
        font-size: 1.5em;
        margin-top: 0.5em;
    }
}
.type-h2{
    width: 12em;
    margin: auto;
    border: solid 1px $white;
    padding: 0.5em;
    font-size: 0.9em;
    font-family: $code-font;
    background-color: $transparent-detail;
}
#text-typewrite{
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    color: $white;
    font-size:0.7em;
}
.social_links{
    cursor: pointer;
    pointer-events: all;
}

.aboutme{
    margin: 2em;
    background-color: $transparent-detail;
    border: solid 1px $white;
    h6 span:first-child{
        color: $white;
    }
    h6 span:last-child{
        color: $purple;
    }
    h6{
        font-family:$arimo-font;
        font-size: 3em;
        letter-spacing: 0.3em;
        padding: 0.3em;
        margin-bottom: -0.3em;
    }
    .aboutme-text1,.aboutme-text2{
        color: $white;
        padding: 0.5em;
        margin: 1em;
        font-family: $code-font;
        font-size: 0.9em;
        text-align: left;
    }
    .aboutme-text2{
        font-weight: 600;
    }
    .redirect1{
        background-color: $pink-purple;
    }
    .explore{
        padding: 0.3em;
        color: $white;
        text-decoration: none;
        text-align: center;
        font-size: 0.9em;
        font-family: $code-font;
    }
    .arrow-aboutme{
        color: $white;
        padding: 0em 0em 0.5em 0em;
        font-size: 0.9em;
        text-decoration: none;
        text-align: center;
    }
}

footer{
    margin-top: 2em;
    border-top: solid 1.5px $white;
    border-bottom: solid 1.5px $white;
    i{
        color: $white;
        font-size: 2em;
        margin: 1.5em;
    }
}
