/*HEADER*/
.header {
  font-family: $code-font;
  position: relative;
  pointer-events: all;
  border-bottom: solid 1px $white;
  width: 100%;
  margin-bottom: 2em;
  transition: 1s;
  ul {
    font-weight: 400;
    font-size: 0.95em;
    list-style: none;
    overflow: hidden;
    margin-right: 3em;
    
    li{
      position: relative;
      pointer-events: all;

    }
  }
  li a {
    color: $pink-purple;
    line-height: 2em;
    display: block;
    text-decoration: none;
    transition: .1s;
    &:hover{
      color:rgba(255, 255, 255, 0.889);
    }
  }
}
.theme-icons{
  color: $white;
}
.logo img{
    width: 2em;
    height: 1em;
    margin: 0em 0em 1em 0em;
}
.toggle{
    padding: 1em;
}
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
/*MENU*/

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/*Icono */

.header .menu-icon {
  cursor: pointer;
  display: flex;
  justify-content: end;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: $white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: $white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/*BOTON*/

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
