/*responsive cuando llega el menu normal*/
@media (min-width: 48em) {

  /*HEADER*/
  .header{
    height: 4em;
    font-size: 1em;
    li {
      float: left;
      a {
        padding: 20px 30px;
      }
    }
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  /*ARTICLE*/       
  article{
         .presentation{
              h1{
                  font-size: 6.5em;
                  padding: 0.3em;
                  transition: 1s;
              }
              p{
                font-size: 1.1em;
                width: 45em;
                margin: auto;
             }
             li{
              .social-icon{
                  font-size: 1.1em;
                  margin-right: 10px;
              }
              a{
                  font-size: 1.1em;
               }
          }
          }
      }
.type-h2{
font-size: 1.5em;
}
.aboutme{
margin: auto;
width: 40em;
  h6{
      font-size: 4em;
      padding: 0.2em;
  }
  .aboutme-text1,.aboutme-text2{
      margin: 1em;
      font-family: $code-font;
      font-size: 1.1em;
  }
  .explore{
      font-size: 1.1em;
  }
  .arrow-aboutme{
      font-size: 1.1em;
  }
}
}

@media (min-width: 75em){
  .stack-icons{
    .stack-div{
      margin: 1em;
      width: 16em;
  
  }
}
}